@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #9d08f3;
    --laranja: #08d7fc;
    --azul-degrade: linear-gradient(97.54deg, #0d0d0e 35.49%, #5e06ec 165.37%);
    --fonte-principal: "Poppins";
    --azul: #0a0a0a;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}